[mysqld]
server-id                  = 2

relay_log                  = mysql-relay-bin
log_bin                    = mysql-bin
binlog_format              = ROW
log_replica_updates        = ON

# GTID — must match master settings
gtid_mode                  = ON
enforce_gtid_consistency   = ON

# Prevent accidental writes directly to the slave
read_only                  = ON
